header{
  height: 15rem;
 width: auto;
 background-image: url(images/large.jpg);
 background-repeat: no-repeat;
 background-size:  100% 100%;
 background-position: center;
 
 }
 .contenair{
   padding-top: 1rem;
 
 }
 
 
 .contenair h4 {
   font-size: x-large;
     color: #ffffff;
   background-color: rgb(76, 44, 0,0.99);
    
     margin-right:30cm;
     padding: 15px;
    
     border-radius: 40px 999rem 999rem 40px;
 
   }
   .posi{
     padding-top: 2rem;
     
   }
   .items{
    margin-right:18cm;
     padding: .4rem 0;
     background-color: rgb(76, 44, 0,0.99);
    
     border-radius: 40px 999rem 999rem 40px;
     display: flex;
     background-origin: content-box;  
   }
   
 .items li {
 
 display: inline-block;
 margin-right: 22px;
 padding: 10px 15px;
 
 
 
 }
 .contenair li a{
 
     color: #ffffff;
     text-decoration: none;
     font-weight: bold;
 }
 
 
 
 